/* Estilo para o elemento raiz */
.root {
	-fx-background-color: dodgerblue;
}

.label {
	-fx-font-size: 14px;
	-fx-font-fill: black;
	-fx-font-weight: bold; 
}

.text-field {
	-fx-background-color: white;
	-fx-border-color: lightgray;
}

.button {
	-fx-background-color: linear-gradient(to bottom, black, dodgerblue);
	-fx-text-fill: white;
	-fx-font-size: 14px;
	-fx-cursor: hand;
}

.button:hover {
	-fx-background-color: linear-gradient(to bottom, lightskyblue, deepskyblue);
}

.table-view {
	-fx-background-color: white;
	-fx-border-color: lightgray;
}

.table-cell {
	-fx-padding: 10px;
	-fx-border-color: lightgray;
}